/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #0b878b;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: rgb(0, 48, 104);
    cursor: pointer;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: rgb(50, 207, 194);
    color: white;
}

canvas{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;			
}
body {
    font-family: "open sans", sans-serif;
    background: #ffffff;
}
#circle_wrapper {
    margin-right: 10vw;
    margin-top: 2vh;			
    text-align: center;
    width: 35vw;			
    float: left;
    height: 48vh;
}		

.cirlce_contents{
    text-align: center;
    width: 100%;
}

#outer-circle {
    margin: 0 auto 40px;
    margin-top: 4vh;
    background-color: #a5a5a5;  
    border-radius: 50%;
    height: 500px;
    width: 500px;
    position: relative;
}
#inner-circle {
    display: flex;
    align-items: center;
    position: absolute;
    background: #ffffff;
    border-radius: 50%;
    height: 300px;
    width: 300px;

    text-align: center;
    color: black;
    font-size: 65px;

    top: 50%;
    left: 50%;
    margin: -150px 0px 0px -150px;
}

#raw_data {			
    width: 50vw;
    height: 35px;
    font-size: 140%;
    white-space: pre;
    color: #4f4f4f;
    text-align: left;
}
.btn {
    border: none;
    color: white;
    padding: 14px 28px;
    cursor: pointer;
    font-size: 125%;
}
.danger {background-color: #f44336;}
.danger:hover {background: #da190b;}	