#select_message {
    font-size: 150%;
    margin-left: 20vw;
    margin-top: 80px;
}
#select_wrapper {
    margin-left: 20vw;
}
#head {
    text-align: center;            
    background-color: #478dff;
    color: white;
    height: 60vh;
    margin-bottom: 50px;
}
#simple_header {
    text-align: center;
    border-bottom: 6px solid #478dff;
    width: 50%;
    margin-left: 25%;
    font-weight: 800;
    font-size: 300%;
}
#project_description {
    margin-left: 100px;
    width: 70%;
    font-size: 150%;
    color: #515151;
    margin-top: 80px;
    margin-bottom: 80px;
}

#button_section {
    text-align: center;
    margin-top: 30px !important;
    
}

#custom_section {
    margin-left: 25vw;
    width: 50%;
    font-size: 150%;
    color: #515151;
    margin-top: 80px;
    margin-bottom: 80px;
}

#us_section {
    width: 100vw;
    font-size:200%;
    color:white;            
    background-color: #003d72;
    height: 45vh;
    float: left;
}

#credentials {
    margin-top: 50px;
    color: white;
    margin-left: 60px;
    font-size: 55%;
    
    float: left;
}
a {
    margin-left: 20px;
    color: white;
    float: left;
}            